.leftContent_rightImg_section{
    padding: 95px 0;
}
.content_wrapper_left{
    max-width: 590px;
    width: 100%;
}
.content_wrapper_left .section_pera{
    margin-top: 16px;
    margin-bottom: 25px;
    color: #C4C4C4;
}
.left_content_title{
    font-size: 34px;
    color: #ffffff;
    font-weight: bold;
    line-height: 40.8px;
    letter-spacing: -0.04em;
}
@media screen and (max-width:1023px){
    .content_wrapper_left{
        max-width: 100%;
    }
}

@media screen and (max-width:767px) {
    .leftContent_rightImg_section{
        padding: 56px 0;
    }
}