.leftContent_rightImg_section{
    padding: 95px 0;
}
.content_wrapper_left{
    max-width: 566px;
    width: 100%;
}
.content_wrapper_left .section_pera{
    margin-top: 16px;
    margin-bottom: 25px;
    color: #C4C4C4;
}
.left_content_title{
    font-size: 54px;
    color: #ffffff;
    font-weight: bold;
    line-height: 64.8px;
    letter-spacing: -0.04em;
}
.landing_hero_cta{
    max-width: 320px;
}
@media screen and (max-width:1023px){
    .content_wrapper_left{
        max-width: 100%;
    }
    .img_wrapper_right img{
        margin: 0 auto;
    }
}

@media screen and (max-width:767px) {
    .leftContent_rightImg_section{
        padding: 56px 0;
    }
}