.landing_logos_wrapper{
    margin-top: 48px;
}
.testimonial_section{
    padding: 61px 0 68px;
}
.testimonial_left{
    margin-right: 85px;
    max-width: 685px;
    width: 100%;
    padding-top: 81px;
}
.testimonial_right{
    max-width: 420px;
    width: 100%;
}
.logo_item{
    margin-right: 50px;
    max-width: 100px;
    min-width: 90px;
}
.landing_logos_list_last{
    margin:40px 0px 0px 76px;
}
.testimonial_quote{
    background: radial-gradient(100% 7106.9% at 4.49% 0%, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.035) 100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    /* Transparent_3D_Look */
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 36px;
    margin-top: 100px;
    padding: 75px 46px;
}
.testimonial_quotes_text{
    font-size: 22px;
    line-height: 35px;
    text-align: center;
}
.testimonial_client_logo{
    width: 97px;
    height: 97px;
    position: absolute;
    bottom: -43px;
    left: calc(50% - 43px);
}
.testimonial_quotes_icon{
    position: absolute;
    top: -90px;
    left: calc(50% - 77px);
}
.testimonial_landing_client_details{
    text-align: center;
    max-width: 285px;
    margin: 70px auto 0px auto;
}
.testimonial_landing_client_details .testimonial_client{
    font-size: 18px;
    line-height: 25px;
    color: #979797;
}


@media screen and (max-width:1024px) {
    .testimonial_right, .testimonial_left{
        width: 100%;
    }

}
@media screen and (max-width:1023px) {

    .testimonial_section {
        padding: 77px 0;
    }

    .testimonial_form{
        justify-content: center;
        display: flex;
        margin-top: 48px;
    }
    .testimonial_left{
        margin-right: 0;
        max-width: 100%;
        width: 100%; 
        padding-top: 0;
    }
    .testimonial_right{
        max-width: 100%;
        width: 100%;
        margin-top: 30px;
    }
    .landing_logos_wrapper{
        margin-top: 0;
    }

}
@media screen and (max-width:991px) {
    .testimonial_quote{
        padding: 107px 85px 48px 85px;
    }
    .testimonial_quotes_icon{
        top: -60px;
    }
}
@media screen and (max-width:767px) {
    .landing_logos_wrapper{
        margin-top: 33px;
    }
    .testimonial_section{
        padding: 45px 0 60px;
    }
    .testimonial_quote{
        padding: 57px 21px;
    }
    .testimonial_quotes_icon{
        top: -40px;
        left: calc(50% - 47px);
    }
    .testimonial_quotes_icon svg {
        width: 100px;
        height: 60px;
    }
    .testimonial_quotes_text{
        font-size: 18px;
        line-height: 28px;
    }
    .testimonial_landing_client_details  .testimonial_client{
        font-size: 14px;
        line-height: 19px;
    }
    .testimonial_right{
        margin-top: 0;
    }
    .testimonial_quote{
        margin-top: 60px;
    }
    .landing_logos_list_last{
        margin-left: 0;
    }
    .logo_item{
        margin-right: 20px;
        align-items: inherit;
        display: flex;
    }
    .logo_item:last-child{
        margin-right: 0;
    }
}