.use_case_left{
    width: 730px;
}
.use_case_list_item{
    margin-bottom: 30px;
    padding-left: 52px;
    position: relative;
}
.use_case_list_item:before{
    content: '';
    width: 4px;
    height: 34px;
    position: absolute;
    left: 0px;
    border-radius: 4px;
    display: inline-block;
    background: #D692F6;
}
.use_case_list_item:last-child{
    margin-bottom: 0px;
}
.use_case_list{
    margin-top: 50px;
}
.list_title{
    font-weight: 700;
    font-size: 24px;
}
.use_case_link{
    margin: 50px 0px 0px 50px;
}
.use_case_right{
    background: url('../../../images/use-case-bg.svg') no-repeat top left;
    background-size: cover;
    position: absolute;
    width: 600px;
    height: 600px;
    right: 0px;
    bottom: 0px;
}