/* .left-group-image{
    position: absolute;
    left: 0px;
} */
.right-side-content{
    margin-left: calc((100% - 1152px)/2);
}
.leadership-img-block{
    max-width: 50%;
}
.middle-content{
    margin-left: calc((100% - 1152px)/2);
}
.bottom-image-wrapper{
    margin-right: 380px;
}
.timeline-content{
    width: 200px;
}
.timeline-border{
    width: calc(100% - 220px);
    position: relative;
    padding-bottom: 150px;
}
.company-profile-wrapper{
    background: linear-gradient(172.77deg, rgba(7, 14, 31, 0.4) 13.85%, rgba(62, 53, 209, 0.4) 95.18%);
}
.timeline-map{
    width: 95%;
    margin: 0px auto;
    text-align: center;
}
.timeline-border-animate{
    top: 10px;
    left: -30px;
    width: 440px;
}
.svg-flip{
    transform: scaleX(-1);
    left: 30px;
}
@media only screen and (max-width: 1200px){
    .join-our-team-wrapper{
        padding: 0px 16px;
    }
}

@media screen and (max-width:1180px) {
    .right-side-content{
        margin-left: 0;
        padding-left: 20px;
    }
    .middle-content {
        margin-left: 0;
        padding-left: 20px;
    }
    .leadership-img-block {
        max-width: 46%;
    }
}

@media screen and (max-width:1023px) {
.leadership-img-block {
    max-width: 100%;
    margin: 0 !important;
}
.middle-right-image-wrapper img ,
.left-group-image img,
.leadership-img-block img {
    display: block;
    width: 100%;
}
.left-group-image {
    margin-bottom: 30px;
    text-align: center;
}
.middle-right-image-wrapper {
    text-align: center;
}
.middle-content {
    padding-bottom: 30px;
}
.bottom-image-wrapper {
    margin-right: 0;
}
}

@media screen and (max-width:800px) {
    .timeline-border svg{
        display: none;
    }
    .timeline-wrapper {
        max-width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
    }
    .timeline-wrapper:after{
        position: absolute;
        content: '';
        width: 1px;
        height: 50%;
        border: 1px dashed #fff;
        top: 60px;
        left: 50%;
    }
    .timeline-wrapper:last-child:after{
        display: none;
    }
    .timeline-content {
        width: 100%;
    }
    .timeline-border {
        width: auto;
        position: relative;
        padding-bottom: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}