.landing-main{
    background: #070E1F;
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}
.landing-container{
    max-width: 1190px;
    margin:0px auto;
    padding:0;
}
.landing-section-title{
    font-size: 54px;
    line-height: 64px;
    color: #ffffff;
    font-weight: bold;
}
.pink{
    color: #D692F6;
}
.landing-container p{
    color: #ffffff;
}
.section-divider{
    background: linear-gradient(90deg, #070E1F 0%, #3E35D1 26.56%, #86F8E0 52.6%, #F3E1FD 81.25%, #D692F6 100%);
    width: 100%;
    height: 11px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/* .info-landing-cta{
    color: #ffffff;
    background: linear-gradient(135.55deg, #3E35D1 6.09%, #86F8E0 116.03%);
    mix-blend-mode: normal;
    border-radius: 8px;
    width: 237px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
} */
.learn-more{
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    position: relative;
}
.learn-more:after{
    background: #96f3f7;
    border-radius: 18px;
    bottom: -5px;
    content: "";
    height: 3px;
    position: absolute;
    right: 0;
    transition-duration: .3s;
    transition-property: width;
    transition-timing-function: ease-out;
    width: 0;
}
.newsletter-wrapper{
    max-width: 445px;
}
.newsletter-input{
    max-width: 276px;
}
.sign-up-text{
    font-size: 14px;
}
.about-section{
    padding: 84px 0 67px;
}
.testimonial-section{
    padding: 96px 0;
}
.use-case-section{
    padding: 118px 0;
}
h2.landing-section-title{
    letter-spacing: -2.4px;
}
@media screen and (max-width:1280px) {
    .landing-container{
        padding: 0 70px;
    }
}
@media screen and (max-width:1024px) {
    .landing-section-title{
        font-size: 34px;
        line-height: 41px;
    }
    h2.landing-section-title {
        letter-spacing: -0.4px;
    }
}
@media screen and (max-width:1023px) {
    .testimonial-form {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:768px) {
    /* .newsletter-wrapper .newsletter-block {
        background: #fff !important;
    }
    .signup-form{
        flex-direction: row;
    }
    .newsletter-wrapper .sign-up-text{
        margin-top: 0;
        width: auto;
        padding: 0 1.75rem !important;
    }
    .newsletter-wrapper .newsletter-input {
        padding: 0.5rem !important;
        border-radius: 1rem !important;
    } */
    .newsletter-input,  .newsletter-wrapper{
        max-width: 100%;
        width: 100%;
    } 
    .signup-form {
        flex-direction: column-reverse;
      }
      .newsletter-wrapper .sign-up-text{
        margin-top: 0;
        margin-bottom: 10px;
      }
}
@media screen and (max-width:767px) {
    .newsletter-input, .newsletter-wrapper{
        max-width: 100%;
        width: 100%;
    }
    .landing-container{
        padding: 0px 22px;
    }
    .landing-section-title{
        font-size: 24px;
        line-height: 28px; 
    }
    
    .sign-up-text {
        font-size: 14px;
    }
    .about-section{
        padding: 64px 0 22px;
    }
    .testimonial-section{
        padding: 64px 0 52px;
    }
    .use-case-section{
        padding: 64px 0;
    }
    .learn-more{
        font-size: 18px;
    }
}